<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.amos.modules.mapper.GenValidInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.amos.core.generator.entity.AmosGenValidInfo">
        <id column="id" property="id" />
        <result column="table_name" property="tableName" />
        <result column="column_name" property="columnName" />
        <result column="column_type" property="columnType" />
        <result column="valid_prompt" property="validPrompt" />
        <result column="comment" property="comment" />
        <result column="is_required" property="isRequired" />
        <result column="valid_type" property="validType" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, table_name, column_name, column_type, valid_prompt, comment, is_required, valid_type, create_by, create_time, update_by, update_time, is_deleted
    </sql>

</mapper>
